<div>
  <h1 class="h1">This is product recommendation app</h1>
  <form (ngSubmit)="getSubmit()" [formGroup]="form">
    <div *ngFor="let question of questions" [formGroup]="form">
      <div class="div question">
        <label class="label question" [attr.for]="question.subject">{{question.question}}</label>
        <div>
          <select class="select question" [id]="question.subject" [formControlName]="question.subject">
            <option *ngFor="let opt of question.options" [value]="opt">{{opt}}</option>
          </select>
        </div>
      </div>
      <hr class="hr solid">
    </div>
    <button type="submit" class="btn">Submit</button>
  </form>
  <h2 class="h2">Posible products:</h2>
  <div *ngIf="products?.length > 0; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <div class="div product" *ngFor="let product of products">
      <label class="label product">{{product.name}}</label>
    </div>
  </ng-template>
  <ng-template #elseBlock>
    <div class="div product">
      <label class="label product">Sorry but there are no products which would match entered criteria</label>
    </div>
  </ng-template>
</div>