<div>
  <h2>This is product recommendation app</h2>
  <form (ngSubmit)="getSubmit()" [formGroup]="form">
    <div *ngFor="let question of questions" [formGroup]="form">
      <div>
        <label [attr.for]="question.subject">{{question.question}}</label>
        <div>
          <select [id]="question.subject" [formControlName]="question.subject">
            <option *ngFor="let opt of question.options" [value]="opt">{{opt}}</option>
          </select>
        </div>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
  <div *ngIf="products?.length > 0; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <label>Posible products:</label>
    <div *ngFor="let product of products">
      <label>{{product.name}}</label>
    </div>
  </ng-template>
  <ng-template #elseBlock>
    <div>
      <label>Sorry but there are no products which would match entered criteria</label>
    </div>
  </ng-template>
</div>